/*
CSS BY NATH54
No Copyrights ;)
*/

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #c92020, #15b364, #261685, #cc02b1);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

button {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 0px linear black;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#titre {
    width: 50%;
    height: 20%;
    background-image: url("../imgs/btn_1_1.png");
}

#titre:hover {
    background-image: url("../imgs/btn_1_2.png");
}

#titre:active {
    background-image: url("../imgs/btn_1_3.png");
}

#credits {
    width: 40%;
    height: 15%;
    background-image: url("../imgs/btn_2_1.png");
}

#credits:hover {
    background-image: url("../imgs/btn_2_2.png");
}

#credits:active {
    background-image: url("../imgs/btn_2_3.png");
}